html,
body {
  height: 100%;
  margin: 0;
}

body {
  // align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.mascot {
  align-self: center;
}

img {
  position: absolute;
  height: 40%;
  width: auto;
}

.face {
  z-index: 0;
}

.eyes {
  z-index: 1;
}

.lips {
  z-index: 2;
}
